body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#search-form {
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;


.recipe-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    max-width: 100%;
    border-radius: 5px;
}

.view-details-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


.recipe-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-detail-container img {
    max-width: 100%;
    border-radius: 5px;
}

.back-to-search-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

