<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Finder</title>
</head>
<body>
    <main>
           <h2>Ingredient Input</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Ingredient</button>
    </form>

    <h3>Ingredients:</h3>
        <ul>        
            <li>{{ ingredient.name }}</li>        
        </ul>        
    </main>
</body>
</html>


